*{
  box-sizing: border-box;
}
body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  background: #834dfc;
}
.header{
  background: #834dfc;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a{
  color: #fff;
  text-decoration: none;
}
.header a:hover{
  text-decoration: underline;
}
.header__img{
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu{
  margin-right: 30px;
}
.header__menu ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -14px;
}
.header__menu:hover ul, ul:hover {
  display: block;
}
.header__menu li{
  margin: 10px 0;
}
.header__menu li a{
  color: #fff;
  text-decoration: none;
}
.header__menu li a:hover{
  text-decoration: underline;
}
.header__menu--profile{
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.header__menu--profile img{
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.header__menu--profile p{
  color: #fff;
  margin: 0;
}
/* _________________________________ */
/* estilos para el main  */
/* __________________________________ */
.main{
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__title{
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.categories__title{
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}
.input{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 3rem;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0 10px;
  width: 70%;
  outline: none;
}
::placeholder{
  color: #fff;
}
.carousel{
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  position: relative;
}
.carousel__container{
  /* display: inline-block; */
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
  /* overflow: scroll; */
}
.carousel-item{
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: yellow;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transition: 350ms all;
  transform-origin: center left;
  position: relative;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px; 
  height: 8px;   
  background:rgba(255,255,255,.4);
  border-radius: 4px;
}
::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: #999;
}
.carousel-item:hover ~ .carousel-item{
  transform: translate3d(100px , 0, 0);
}
.carousel__container:hover .carousel-item{
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel-item__details{
  align-items: flex-start;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  bottom: 0;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.carousel-item__details:hover{
  opacity: 1;
}
.carousel-item__details--img{
  width: 30px;
}
.carousel-item__details--title {
  color: white;
  margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
  color: white;
  font-size: 8px;
  margin: 3px 0px;
}
/* footer  */
.footer{
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #834dfc;
}
.footer a{
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
/* not found */
.not-found{
  color: #fff;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15vh;
}
.not-found h1{
  margin: 0;
  animation-duration: 2.5s;
  /* animation-fill-mode: both; */
  animation-iteration-count: infinite;
  animation-name: hinge;
  position: absolute;
}

@keyframes hinge {
  0% {transform: rotate(0);transform-origin: top left;animation-timing-function: ease-in-out;}
  20%, 60% {transform: rotate(80deg);transform-origin: top left;animation-timing-function: ease-in-out;}
  40% {transform: rotate(60deg);transform-origin: top left;animation-timing-function: ease-in-out;}
  80% {transform: rotate(60deg) translateY(0);transform-origin: top left;animation-timing-function: ease-in-out;}
  100% {transform: translateY(700px);}
}





/* PAra el login  */
/* -_______________________- */


.login{
  background: linear-gradient(#21c08b, #834dfc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 100px);
}
.login__container{
  background: rgba(255,255,255,.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #fff;
  padding: 60px 68px 40px;
  min-height: calc(100vh - 200px);
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login__container--form{
  display: flex;
  flex-direction: column;
}
.login__container--form label{
  font-size: 14px;
}
.login__container--remember-me{
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover{
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register{
  font-size: 14px;
}
.login__container--register a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover{
  text-decoration: underline;
}
.login__container--input {
  background: transparent;
  border: 0;
  color: white;
  border-bottom: 2px solid #fff;
  outline: none;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 50px;
}
::placeholder{
  color: white;
}
.button{
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Multi', sans-serif;
  height: 50px;
  letter-spacing: 1px;
}

.register{
  background: linear-gradient(#21c08b, #834dfc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 100px);
}
.register__container{
  background: rgba(255,255,255,.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #fff;
  padding: 60px 68px 40px;
  min-height: calc(100vh - 200px);
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.register__container--form{
  display: flex;
  flex-direction: column;
}
.register__container--signin{
  text-align: center;
  font-size: 14px;
}
.register__container--signin a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.register__container--signin a:hover{
  text-decoration: underline;
}
.register__container--input {
  background: transparent;
  border: 0;
  color: white;
  border-bottom: 2px solid #fff;
  outline: none;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 50px;
}
::placeholder{
  color: white;
}
.button{
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Multi', sans-serif;
  height: 50px;
  letter-spacing: 1px;
}

/* footer  */
.footer{
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #834dfc;
}
.footer a{
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
/* media querys */
@media screen and (max-width:600px){
  .register__container{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
  }
}


/* media querys */
@media screen and (max-width:600px){
  .login__container{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
  }
}
